<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd"
	default-autowire="byName" default-lazy-init="false">

	<!-- <bean id="memcachedClient" class="net.rubyeye.xmemcached.MemcachedClient" 
		factory-bean="memcachedClientBuilder" factory-method="build"> </bean> <bean 
		id="memcachedClientBuilder" class="net.rubyeye.xmemcached.XMemcachedClientBuilder"> 
		<constructor-arg> <list> <bean class="java.net.InetSocketAddress"> <constructor-arg> 
		<value>10.10.99.135</value> </constructor-arg> <constructor-arg> <value>11211</value> 
		</constructor-arg> </bean> </list> </constructor-arg> </bean> -->

	<bean id="memcachedClient"
		class="net.rubyeye.xmemcached.utils.XMemcachedClientFactoryBean">
		<property name="servers" value="${memcached.default.servers}"></property>
		<property name="weights">
			<list>
				<value>1</value>
				<value>2</value>
				<value>3</value>
			</list>
		</property>
		<!-- nio connection pool size -->
		<property name="connectionPoolSize" value="200"></property>
		<property name="commandFactory">
			<bean class="net.rubyeye.xmemcached.command.BinaryCommandFactory"></bean>
		</property>
		<!-- Serializing transcoder -->
		<property name="transcoder">
			<bean class="net.rubyeye.xmemcached.transcoders.SerializingTranscoder" />
		</property>
	</bean>

	<bean id="xmemcachedProxy" class="com.b5m.cached.xmemcached.XMemcachedProxy">
		<constructor-arg index="0" ref="memcachedClient"></constructor-arg>
		<property name="retriveTimeout" value="5000"></property>
		<property name="writeTimeout" value="5000"></property>
	</bean>

	<bean id="cachedManager" class="com.b5m.cached.CachedManager"
		init-method="load" destroy-method="unload">
		<property name="cachedObjects">
			<list>
				<ref bean="suppliserCachedService" />
				<ref bean="hpSugGroupCachedService" />
			</list>
		</property>
	</bean>

	<bean id="suppliserCachedService"
		class="com.b5m.goods.promotions.cached.SuppliserCachedTemplateService" init-method="findAllSuppliser">
		<constructor-arg index="0" ref="xmemcachedProxy"></constructor-arg>
		<constructor-arg index="1" ref="suppliserService"></constructor-arg>
		<constructor-arg index="2">
			<bean class="com.b5m.cached.CachedConfigure">
				<property name="expiredTime" value="86400"></property>
				<!-- 设置本地缓存策略 -->
				<property name="alwaysRetriveFromRemote" value="false"></property>
				<property name="keyPrefix" value="sp"></property>
			</bean>
		</constructor-arg>
	</bean>

	<bean id="hpSugGroupCachedService"
		class="com.b5m.goods.hotkeys.cached.HpSugGroupCachedTemplateService">
		<constructor-arg index="0" ref="xmemcachedProxy"></constructor-arg>
		<constructor-arg index="1" ref="hpSugGroupService"></constructor-arg>
		<constructor-arg index="2">
			<bean class="com.b5m.cached.CachedConfigure">
				<property name="expiredTime" value="86400"></property>
				<!-- 设置本地缓存策略 -->
				<property name="alwaysRetriveFromRemote" value="false"></property>
				<property name="keyPrefix" value="hp"></property>
			</bean>
		</constructor-arg>
	</bean>
	
	<bean id="commentCacheService" class="com.b5m.service.www.cache.CommentCacheServiceImpl"> 
		<constructor-arg index="0" ref="xmemcachedProxy"></constructor-arg>
		<constructor-arg index="1">
			<bean class="com.b5m.cached.CachedConfigure">
				<!-- 印象信息保存30天 -->
				<property name="expiredTime" value="2592000"/>
			</bean>
		</constructor-arg>
	</bean>
	
	<bean id="impressCacheService" class="com.b5m.service.www.cache.ImpressCacheServiceImpl">
		<constructor-arg index="0" ref="xmemcachedProxy"></constructor-arg>
		<constructor-arg index="1">
			<bean class="com.b5m.cached.CachedConfigure">
				<!-- 印象信息保存30天 -->
				<property name="expiredTime" value="2592000"/>
			</bean>
		</constructor-arg>
	</bean>
	
	<bean id="newSuppliserCacheService" class="com.b5m.service.www.cache.SuppliserCacheServiceImpl">
		<constructor-arg index="0" ref="xmemcachedProxy"/>
		<constructor-arg index="1">
			<bean class="com.b5m.cached.CachedConfigure">
				<!-- 印象信息保存30天 -->
				<property name="expiredTime" value="2592000"></property>
				<!-- 设置本地缓存策略 -->
				<property name="alwaysRetriveFromRemote" value="false"></property>
				<property name="keyPrefix" value="new_sp"></property>
			</bean>
		</constructor-arg>
	</bean>
	
</beans>